<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Analizador CSV</title>
     <link href="css/global.css" rel="stylesheet" type="text/css">
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="http://xregexp.com/v/3.1.0/xregexp-all.js"></script>
      <link rel="icon" type="image/png" href="css/images/favicon.ico">
     <script type="text/javascript" src="js/csv.js"></script>
     <script type="text/javascript" src="js/main.js"></script>
     <script type="text/html" id='fillTable'>
       <table id="result" class="center">
         <% _.each(items, function(name) { %>
           <tr class="<%= name.rowClass %>">
             <% _.each(name.value, function(cell) { %>
               <td><%= cell %></td>
             <% }); %>
           </tr>
         <% }); %>
       </table>
     </script>
  </head>
  <body>
    <div id="header">
                <a href="tests/index.html">Tests</a>&nbsp &nbsp &nbsp &nbsp
                <a href="https://github.com/alu0100693737/localstorage-jquery-underscore-express-sass-heroku-ivan_garcia/tree/gh-pages">Repositorio</a> &nbsp &nbsp &nbsp &nbsp
                <a href="http://alu0100693737.github.io/">Web: Iván García</a>
      </div>
      <br><br>
    <div id="fondo_tabla">
      <h1>Comma Separated Value Analyzer</h1>
      <div id = "header">
        Write a CSV string. Click the table button. The program outputs a table with the specified data.</i><br>
      </div>
      <table>
        <tr>
          <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
          <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
        </tr>
      </table>
      <button class="boton" type="button">table:</button><br>
      <span class="output" id="finaltable"></span>
  </div>
  </body>
</html>
